@model IEnumerable<Category>


<div class="container">
<h1>@ViewBag.Title</h1>
<div class="row">


@foreach(var category in Model)

{
    foreach(var product in category.Products)
    {
        <div class="card col-lg-4 col-md-6 col-sm-12 p-2" >
  
            <div class="card-body">
                @product.Price
                <div>
                    @category.Name
                </div>

                @product.Name
            </div>
    
            <div class="card-footer">

            <a asp-action="details" asp-controller="Product" aso-route-id="@product.Id" class="btn btn-info">Details</a>
            </div>

        </div>
        
    }
}
</div>
</div>


@section Scripts {
 
}

